table {
    width: 100%;
    text-align: justify;
    border: 0.5px solid #000000;
}

td.borderless {
    border: 0.5px solid #000000;
    border-left: none;
    border-right: none;
}

td.borderless2 {
    border: 0.5px solid #000000;
    ;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

td.borderless2a {
    border: 0.5px solid #000000;
    ;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

td.borderless2b {
    border: 0.5px solid #000000;
    ;
    border-top: none;
    border-left: none;
    border-right: none;
}

td.galleryimg{
    text-align: center;
    font-size: 10px;
}

td {
    border: 0.5px solid;
}

img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}