body {
    font-family: Verdana, sans-serif;
    background: #eaeaea;
}

body,
h1 {
    color: black;
}

h1 {
    background-color: #6dddff;
}

.header {
    background-color: #65a2ff;
    color: white;
    padding: 10px;
}

.header:hover,
h1:hover,
#centered-text:hover {
    box-shadow: 0px 0px 10px #ff169e;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
}

p {
    text-indent: 2em;
}

h2 {
    font-size: 150%;
}

div {
    border: solid;
    border-width: thin;
}

.justify {
    text-align: justify;
    margin: 10px;
}

#centered-text,
h1 {
    text-align: center;
}

a:link {
    color: salmon;
    text-decoration: none;
}

a:visited {
    color: rgb(111, 24, 211);
}

a:active {
    color: rgb(255, 0, 102);
}

a:hover {
    color: rgb(0, 96, 255);
    font-size: larger;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
}

h1,
.header,
div,
p,
#unordered-list {
    border-radius: 10px;
    padding: 5px;
}